# Intellij
*.iml
*/target/*
.idea/*

# Eclipse
.settings
.classpath
.project
**/.classpath
**/.project

# Mac
.DS_Store

# Maven
#log/
target/
blogserver-service/.settings
blogserver-common/.settings
logserver-common/.classpath
logserver-service/.classpath
