<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.landaojia.blog.tag.entity.Tag">

	<resultMap type="com.landaojia.blog.tag.entity.Tag" id="result" />

	<sql id="select_cols">
		id,name
	</sql>

	<sql id="insert_cols_tag">
		name,version,deleted_flag,created_date,updated_date,created_by,updated_by
	</sql>
	
	<sql id="insert_cols_post_tag">
		post_id,tag_id,tag_name,version,deleted_flag,created_date,updated_date,created_by,updated_by
	</sql>

	<select id="searchTags" resultMap="result">
		SELECT
		<include refid="select_cols" />
		FROM b_tag WHERE name IN
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item.name}
		</foreach>
	</select>
	
	<select id="searchPopularTags" resultMap="result">
		SELECT
			COUNT(1) AS num,
			tag_id AS id,
			tag_name AS NAME
		FROM
			b_post_tag
		WHERE
			deleted_flag = 0
		GROUP BY
			tag_id
		ORDER BY
			num DESC
		LIMIT 5;
	</select>

	<insert id="insertTags">
		INSERT INTO b_tag
		(
		<include refid="insert_cols_tag" />
		)
		VALUES
		<foreach item="item" index="index" collection="list" open="" separator="," close="">
			(#{item.name},1,0,now(),now(),'sys','sys')
		</foreach>
	</insert>
	
	<insert id="insertPostTagLink">
		INSERT INTO b_post_tag
		(
		<include refid="insert_cols_post_tag" />
		)
		VALUES
		<foreach item="item" index="index" collection="tags" open="" separator="," close="">
			(#{postId},#{item.id},#{item.name},1,0,now(),now(),'sys','sys')
		</foreach>
	</insert>
	
	<delete id="deletePostTagLink">
		DELETE FROM b_post_tag WHERE post_id = #{postId} AND tag_id IN
		<foreach item="item" index="index" collection="tags" open="(" separator="," close=")">
			#{item.id}
		</foreach>
	</delete>
	
	<delete id="deleteByPostId">
		UPDATE b_post_tag SET deleted_flag = 1 WHERE post_id = #{id}
	</delete>
	
</mapper>
