<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landaojia.blog.post.entity.PostComment">
    <resultMap type="com.landaojia.blog.post.entity.PostComment" id="result"/>
    <sql id="select_all_cols">
                b_post_comment.ID,
                b_post_comment.user_id as userId,
                b_post_comment.post_id as postId,
                b_post_comment.content as content,
                b_post_comment.DELETED_FLAG as deletedFlag,
                b_post_comment.CREATED_DATE as createdDate,
		        b_post_comment.UPDATED_DATE as updatedDate,
		        b_post_comment.CREATED_BY as createdBy,
		        b_post_comment.UPDATED_BY as updatedBy,
		        b_post_comment.VERSION
    </sql>
    <sql id="insert_all_cols">
                b_post_comment.user_id,
                b_post_comment.post_id,
                b_post_comment.content,
                b_post_comment.DELETED_FLAG,
		        b_post_comment.CREATED_DATE,
		        b_post_comment.UPDATED_DATE,
		        b_post_comment.CREATED_BY,
		        b_post_comment.UPDATED_BY,
		        b_post_comment.VERSION
    </sql>
    <sql id="where_all">
        WHERE DELETED_FLAG=0
        <if test="cond.id != null">
            AND b_post_comment.id = #{cond.id}
        </if>
        <if test="cond.userId != null">
            AND b_post_comment.user_id = #{cond.userId}
        </if>
        <if test="cond.postId != null">
            AND b_post_comment.post_id = #{cond.postId}     
       	</if>
        <if test="cond.content != null">
            AND b_post_comment.content = #{cond.content}     
       	</if>
        <if test="cond.deletedFlag != null">
            AND b_post_comment.deleted_flag = #{cond.deletedFlag}     
       	</if>
        <if test="cond.version != null">
            AND b_post_comment.version = #{cond.version}
        </if>
        <if test="cond.ids != null">
            and b_post_comment.id in
            <foreach item="item" index="index" collection="cond.ids" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="cond.createdDateB != null">
            <![CDATA[
			AND b_post_comment.CREATED_DATE >= #{cond.createdDateB}
		]]>
        </if>
        <if test="cond.createdDateE != null">
            <![CDATA[
			AND b_post_comment.CREATED_DATE <= #{cond.createdDateE}
		]]>
        </if>
        <if test="cond.updatedDateB != null">
            <![CDATA[
			AND b_post_comment.UPDATED_DATE >= #{cond.updatedDateB}
		]]>
        </if>
        <if test="cond.updatedDateE != null">
            <![CDATA[
			AND b_post_comment.UPDATED_DATE <= #{cond.updatedDateE}
		]]>
        </if>
    </sql>
    <select id="select" resultMap="result">
        select <include refid="select_all_cols"/>
        FROM b_post_comment
        WHERE DELETED_FLAG=0 and b_post_comment.ID=#{id}
        <if test="lock">
            FOR UPDATE
        </if>
    </select>
    <select id="query" resultMap="result">
        select <include refid="select_all_cols"/>
        FROM b_post_comment
        <include refid="where_all"/>
        <if test="start != null">
            order by b_post_comment.CREATED_DATE desc
            limit #{start},#{size}
        </if>
    </select>
    <select id="count" resultType="java.lang.Long">
        select count(0)
        FROM b_post_comment
        <include refid="where_all"/>
    </select>
    <select id="sum" resultType="java.math.BigDecimal">
        select sum(${col})
        FROM b_post_comment
        <include refid="where_all"/>
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO b_post_comment(<include refid="insert_all_cols"/>)
        VALUES
        (
                #{userId},
                #{postId},
                #{content},
                0,current_timestamp(),current_timestamp(),#{createdBy},#{updatedBy},1
        )
    </insert>
    <insert id="batchInsert">
        INSERT INTO b_post_comment(<include refid="insert_all_cols"/>)
        VALUES
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (
                        #{item.userId},
                        #{item.postId},
                        #{item.content},
                        0,current_timestamp(),current_timestamp(),#{createdBy},#{updatedBy},1
            )
        </foreach>
    </insert>
    <insert id="insertWithId">
        INSERT INTO b_post_comment(ID,<include refid="insert_all_cols"/>)
        VALUES
        (#{id},
                #{userId},
                #{postId},
                #{content},
                0,current_timestamp(),current_timestamp(),#{createdBy},#{updatedBy},1
        )
    </insert>
    <insert id="batchInsertWithId">
        INSERT INTO b_post_comment(ID,<include refid="insert_all_cols"/>)
        VALUES
        <foreach item="item" index="index" collection="list" open="" separator="," close="">
            (#{item.id},
                        #{item.userId},
                        #{item.postId},
                        #{item.content},
                        0,current_timestamp(),current_timestamp(),#{createdBy},#{updatedBy},1
            )
        </foreach>
    </insert>
    <update id="update">
        update b_post_comment
        <set>
                        id = #{id},
                        user_id = #{userId},
                        post_id = #{postId},
                        content = #{content},
                        deleted_flag = #{deletedFlag},
			            version = version + 1,
			            UPDATED_DATE = current_timestamp(),
			            UPDATED_BY=#{updatedBy}
        </set>
        where b_post_comment.id = #{id} and b_post_comment.version = #{version}
    </update>
    <delete id="delete">
        update b_post_comment set DELETED_FLAG=1
        <include refid="where_all"/>
    </delete>
    <delete id="deleteById">
        update b_post_comment set DELETED_FLAG=1 where b_post_comment.id = #{id}
    </delete>
</mapper>
