<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landaojia.blog.user.entity.User">
	<resultMap type="com.landaojia.blog.user.entity.User" id="result" />
	<sql id="select_all_cols">
		b_user.ID,
		b_user.user_name as userName,
		b_user.email as email,
		b_user.crypted_password as cryptedPassword,
		b_user.role as role,
		b_user.CREATED_DATE as createdDate,
		b_user.UPDATED_DATE as updatedDate,
		b_user.CREATED_BY as createdBy,
		b_user.UPDATED_BY as updatedBy,
		b_user.VERSION
	</sql>
	<sql id="insert_all_cols">
		b_user.user_name,
		b_user.email,
		b_user.crypted_password,
		b_user.role,
		b_user.DELETED_FLAG,
		b_user.CREATED_DATE,
		b_user.UPDATED_DATE,
		b_user.CREATED_BY,
		b_user.UPDATED_BY,
		b_user.VERSION
	</sql>
	<sql id="where_all">
		WHERE DELETED_FLAG=0
		<if test="cond.id != null">
			AND b_user.id = #{cond.id}
		</if>
		<if test="cond.userName != null">
			AND b_user.user_name = #{cond.userName}
		</if>
		<if test="cond.email != null">
			AND b_user.email = #{cond.email}
		</if>
		<if test="cond.cryptedPassword != null">
			AND b_user.crypted_password = #{cond.cryptedPassword}
		</if>
		<if test="cond.role != null">
			AND b_user.role = #{cond.role}
		</if>
		<if test="cond.version != null">
			AND b_user.version = #{cond.version}
		</if>
		<if test="cond.ids != null">
			and b_user.id in
			<foreach item="item" index="index" collection="cond.ids"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="cond.createdDateB != null">
            <![CDATA[
			AND b_user.CREATED_DATE >= #{cond.createdDateB}
		]]>
		</if>
		<if test="cond.createdDateE != null">
            <![CDATA[
			AND b_user.CREATED_DATE <= #{cond.createdDateE}
		]]>
		</if>
		<if test="cond.updatedDateB != null">
            <![CDATA[
			AND b_user.UPDATED_DATE >= #{cond.updatedDateB}
		]]>
		</if>
		<if test="cond.updatedDateE != null">
            <![CDATA[
			AND b_user.UPDATED_DATE <= #{cond.updatedDateE}
		]]>
		</if>
	</sql>
	<select id="select" resultMap="result">
		select
		<include refid="select_all_cols" />
		FROM b_user
		WHERE DELETED_FLAG=0 and b_user.ID=#{id}
		<if test="lock">
			FOR UPDATE
		</if>
	</select>
	<select id="query" resultMap="result">
		select
		<include refid="select_all_cols" />
		FROM b_user
		<include refid="where_all" />
		<if test="start != null">
			order by b_user.CREATED_DATE desc
			limit #{start},#{size}
		</if>
	</select>
	<select id="count" resultType="java.lang.Long">
		select count(0)
		FROM b_user
		<include refid="where_all" />
	</select>
	<select id="sum" resultType="java.math.BigDecimal">
		select sum(${col})
		FROM b_user
		<include refid="where_all" />
	</select>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO b_user(
		<include refid="insert_all_cols" />
		)
		VALUES
		(
		#{userName},
		#{email},
		#{cryptedPassword},
		#{role},
		0,current_timestamp(),current_timestamp(),#{createdBy},#{updatedBy},1
		)
	</insert>
	<insert id="batchInsert">
		INSERT INTO b_user(
		<include refid="insert_all_cols" />
		)
		VALUES
		<foreach item="item" index="index" collection="list" open=""
			separator="," close="">
			(
			#{item.userName},
			#{item.email},
			#{item.cryptedPassword},
			#{item.role},
			0,current_timestamp(),current_timestamp(),#{createdBy},#{updatedBy},1
			)
		</foreach>
	</insert>
	<insert id="insertWithId">
		INSERT INTO b_user(ID,
		<include refid="insert_all_cols" />
		)
		VALUES
		(#{id},
		#{userName},
		#{email},
		#{cryptedPassword},
		#{role},
		0,current_timestamp(),current_timestamp(),#{createdBy},#{updatedBy},1
		)
	</insert>
	<insert id="batchInsertWithId">
		INSERT INTO b_user(ID,
		<include refid="insert_all_cols" />
		)
		VALUES
		<foreach item="item" index="index" collection="list" open=""
			separator="," close="">
			(#{item.id},
			#{item.userName},
			#{item.email},
			#{item.cryptedPassword},
			#{item.role},
			0,current_timestamp(),current_timestamp(),#{createdBy},#{updatedBy},1
			)
		</foreach>
	</insert>
	<update id="update">
		update b_user
		<set>
			user_name = #{userName},
			email = #{email},
			crypted_password = #{cryptedPassword},
			role = #{role},
			id = #{id},
			version = version + 1,
			UPDATED_DATE = current_timestamp(),
			UPDATED_BY=#{updatedBy}
		</set>
		where b_user.id = #{id} and b_user.version = #{version}
	</update>
	<delete id="delete">
		update b_user set DELETED_FLAG=1
		<include refid="where_all" />
	</delete>
	<delete id="deleteById">
		update b_user set DELETED_FLAG=1 where b_user.id = #{id}
	</delete>
</mapper>
